<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="index.css"/>  
    <meta charset="UTF-8">
    <title>AQI</title>
   <h1>Calidad de Aire  Interior/Exterior</h1>
</head>
<body>
   <h4>AQI: Indice de Calidad del Aire</h4>
   <img src="/Desktop/rangos.jpeg" alt="Rangos AQI">
   <div>
       <p id="air1">
           <strong style="font-size: 40px">OFICINA LAS CONDES</strong><br>
           <span style="font-size: 30px">exterior</span><br>
           <span style="font-size: 30px">AQI: {lascondes}</span><br>

           <span style="font-size: 30px">interior</span><br>
           <span style="font-size: 30px">AQI: {r1_lc} - {r2_lc}</span><br>
       </p>  
       <div>
            <button id="submit1">Activar Filtro</button>
        </div>

        <p id="air2">
           <strong style="font-size: 40px">OFICINA VALDIVIA</strong> <br>
           <span style="font-size: 30px">exterior</span><br>
           <span style="font-size: 30px">AQI: {valdivia}</span><br>

           <span style="font-size: 30px">interior</span><br>
           <span style="font-size: 30px">AQI: {r1_va} - {r2_va}</span><br>
        </p>
        <div>
            <button id="submit1">Activar Filtro</button>
        </div>

        <p id="air3"> 
           <strong style="font-size: 40px">OFICINA TEMUCO</strong> <br>
           <span style="font-size: 30px">exterior</span><br>
           <span style="font-size: 30px">AQI: {temuco}</span><br>

           <span style="font-size: 30px">interior</span><br>
           <span style="font-size: 30px">AQI: {r1_t} - {r2_t}</span><br>
        </p>
        <div>
            <button id="submit1">Activar Filtro</button>
        </div>

        <p id="air4">
            <strong style="font-size: 40px">OFICINA QUINTERO</strong><br>
            <span style="font-size: 30px">exterior</span><br>
            <span style="font-size: 30px">AQI: {quintero}</span><br>

            <span style="font-size: 30px">interior</span><br>
            <span style="font-size: 30px">AQI: {r1_q} - {r2_q}</span><br>
            <span id="state"></span><br>
        </p>
        <div>
            <button id="submit1">Activar Filtro</button>
        </div>

        <p id="air5">
            <strong style="font-size: 40px">OFICINA VIÑA DEL MAR</strong> <br>
            <span style="font-size: 30px">exterior</span><br>
            <span style="font-size: 30px">AQI: {vina}</span> <br>

            <span style="font-size: 30px">interior</span><br>
            <span style="font-size: 30px">AQI: {r1_v} - {r2_v}</span> <br>

            <span id="state"></span><br>
        </p>
        <div>
            <button id="submit1">Activar Filtro</button>
        </div>
   </div>
</body>
</html>